@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.container {
  #home-page {
    width: 100%;
    min-height: 100vh;
    padding: 41px 140px 257px 135px;
    background-image: url("../assets/image/bg-image.svg");
    background-size: 100%;
    background-repeat: none;
    nav {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        li {
          margin-right: 32px;
          &:first-child {
            a {
              color: var(--Primary, #ff902b);
              font-family: Poppins;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          a {
            color: #000;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      form {
        .input-btn-collaj {
          display: flex;
          input {
            padding: 11px;
            border-radius: 35px;
            background: #fff;
            filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
          }
        }
      }
    }

    .fleksboks {
      margin-top: 82px;
      display: flex;
      .text-container {
        h1 {
          margin-bottom: 24px;
          color: var(--Secondary, #2f2105);
          font-family: Poppins;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          span {
            color: var(--Primary, #ff902b);
            font-family: Poppins;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }

        p {
          margin-bottom: 32px;
          color: var(--light, #7e7d7a);
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .button-box {
          button {
            margin-right: 50px;
            display: inline-flex;
            padding: 12px 32px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 33px;
            background: var(--Secondary, #2f2105);
            box-shadow: 0px 4px 32px 0px rgba(223, 195, 124, 0.25);
            a {
              color: #fff;
              text-align: center;
              font-family: Poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

          a {
            color: #f4ae26;
            text-align: center;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }

      .img-box {
        img {
          width: 526.706px;
          height: 416px;
        }
      }
    }

    h2 {
      color: #000;
      font-family: Poppins;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.28px;
    }
  }

  #service-page {
    .collaj-box {
     /* background-image: url('../assets/image/Rectangle\ 2.svg'); */
      ul{
        background-color: #F9D9AA;
        width: 88%;
        border-radius: 50px;
        margin: auto;
        padding: 50px;
        li{
          width: 33%;
          height: 373px;
          /* background-color: white; */
          fill: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.70) 100%);
          backdrop-filter: blur(2px);
          .coffe {
            h3 {
              color: var(--Secondary, #2f2105);
              font-family: Poppins;
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.96px;
            }
            h4 {
              color: var(--Secondary, #2f2105);
              text-align: center;
              font-family: Poppins;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.96px;
            }
          }
        }
      }
    }
  }
}
