@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.container #home-page {
  width: 100%;
  min-height: 100vh;
  height: 1004px;
  padding: 41px 140px 257px 135px;
  background-image: url("../assets/image/bg-image.png");
  background-size: 100%;
  background-repeat: none;
}
.container #home-page nav {
  display: flex;
  justify-content: space-between;
}
.container #home-page nav ul {
  display: flex;
}
.container #home-page nav ul li {
  margin-right: 32px;
}
.container #home-page nav ul li:first-child a {
  color: var(--Primary, #ff902b);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container #home-page nav ul li a {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container #home-page nav form .input-btn-collaj {
  display: flex;
}
.container #home-page nav form .input-btn-collaj input {
  padding: 11px;
  border-radius: 35px;
  background: #fff;
  filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
}
.container #home-page .fleksboks {
  margin-top: 82px;
  display: flex;
}
.container #home-page .fleksboks .text-container h1 {
  margin-bottom: 24px;
  color: var(--Secondary, #2f2105);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container #home-page .fleksboks .text-container h1 span {
  color: var(--Primary, #ff902b);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container #home-page .fleksboks .text-container p {
  margin-bottom: 32px;
  color: var(--light, #7e7d7a);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container #home-page .fleksboks .text-container .button-box button {
  margin-right: 50px;
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 33px;
  background: var(--Secondary, #2f2105);
  box-shadow: 0px 4px 32px 0px rgba(223, 195, 124, 0.25);
}
.container #home-page .fleksboks .text-container .button-box button a {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container #home-page .fleksboks .text-container .button-box a {
  color: #f4ae26;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container #home-page .fleksboks .img-box img {
  width: 526.706px;
  height: 416px;
}
.container #home-page h2 {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
}
.container #service-page {
  position: relative;
}
.container #service-page .collaj-box {
  width: 88%;
  position: relative;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9d9aa;
  border-radius: 50px;
}
.container #service-page .collaj-box ul {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 100px;
}
.container #service-page .collaj-box ul li {
  width: 30%;
  padding: 6px;
  background-image: url("../assets/image/Rectangle 6.png");
  background-size: 100% 100%;
  background-repeat: none;
  /* background-color: white; */
  fill: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.container #service-page .collaj-box ul li .li-container {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container #service-page .collaj-box ul li .main-img {
  width: 100%;
  border-radius: 12px;
}
.container #service-page .collaj-box ul li .coffe {
  width: 100%;
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container #service-page .collaj-box ul li .coffe h3 {
  color: var(--Secondary, #2f2105);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
}
.container #service-page .collaj-box ul li .coffe h4 {
  color: var(--Secondary, #2f2105);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}
.container #service-page .collaj-box ul li .button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}
.container #service-page .collaj-box ul li .button .btn-box button {
  background-color: white;
  border-radius: 8px;
  border: 2px solid var(--Primary, #ff902b);
}
.container #service-page .collaj-box ul li .button .btn-box button a {
  padding: 10px;
  color: var(--Primary, #ff902b);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
}
.container #service-page .collaj-box ul li .button .btn-box .second-btn {
  margin-left: 24px;
  border-radius: 8px;
  border: 2px solid #ffd28f;
}
.container #service-page .collaj-box ul li .button .btn-box .second-btn a {
  color: #ffd28f;
}
.container #service-page .collaj-box ul li:nth-child(2) .li-container .button button {
  border-radius: 8px;
  border: 2px solid #ffd28f;
}
.container #service-page .collaj-box ul li:nth-child(2) .li-container .button button a {
  color: #ffd28f;
}
.container #service-page .collaj-box ul li:last-child .li-container .button button {
  border-radius: 8px;
  border: 2px solid #ffd28f;
}
.container #service-page .collaj-box ul li:last-child .li-container .button button a {
  color: #ffd28f;
}
.container #service-page .service-box {
  padding: 0 135px 208px 132px;
}
.container #service-page .service-box h5 {
  margin-bottom: 32px;
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
}
.container #service-page .service-box ul {
  display: flex;
}
.container #service-page .service-box ul li {
  display: flex;
  width: 30%;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}
.container #service-page .service-box ul li h6 {
  color: var(--Secondary, #2f2105);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
}
.container #service-page .service-box ul li p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}
.container #about-page {
  padding: 0 188px 0 235px;
  background-image: url("../assets/image/bg-image (1).svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.container #about-page .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container #about-page .box .img {
  position: relative;
  bottom: 62px;
}
.container #about-page .box .img img {
  width: 370.21px;
  height: 509.216px;
}
.container #about-page .box .text-box h1 {
  margin-bottom: 23px;
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
}
.container #about-page .box .text-box h2 {
  width: 100%;
  margin-bottom: 15px;
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
}
.container #about-page .box .text-box p {
  width: 100%;
  margin-bottom: 31px;
  color: var(--light, #7e7d7a);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}
.container #about-page .box .text-box button {
  display: flex;
  width: 142px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 33px;
  background: var(--Secondary, #2f2105);
}
.container #about-page .box .text-box button a {
  color: #f4ae26;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container #menu-page {
  width: 100%;
  padding: 120px 155px;
}
.container #menu-page h1 {
  margin-bottom: 37px;
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
}
.container #menu-page ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
}
.container #menu-page ul li {
  width: 343.966px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container #menu-page ul li img {
  border-radius: 12px;
}
.container #menu-page ul li .special-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container #menu-page ul li .special-menu h3 {
  color: var(--Secondary, #2f2105);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
}
.container #menu-page ul li .special-menu h4 {
  color: var(--Secondary, #2f2105);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}
.container #menu-page ul li .order {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container #menu-page ul li .order p {
  color: var(--light, #7e7d7a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
}
.container #about-us-page .container-2 {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 120px 0 120px 136px;
  display: flex;
  justify-content: space-between;
}
.container #about-us-page .container-1 {
  position: absolute;
  z-index: 0;
}
.container #about-us-page .text-container h1 {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
}
.container #about-us-page .text-container p {
  color: var(--light, #7e7d7a);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container #about-us-page ul {
  display: flex;
}
.container #about-us-page ul li {
  position: relative;
  margin-right: 40px;
}
.container #about-us-page ul li .card {
  width: 230px;
  padding: 12px;
  position: absolute;
  bottom: 24px;
  left: 30px;
  border-radius: 8px;
  border: 6px solid rgba(255, 211, 144, 0.62);
  background: #ffcb7c;
}
.container #about-us-page ul li .card h2 {
  color: var(--Secondary, #2f2105);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}
.container #about-us-page ul li .card h3 {
  width: 213px;
  color: var(--Secondary, #2f2105);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
}
.container #form-page {
  width: 100%;
  padding: 120px 135px;
}
.container #form-page form {
  padding: 133px 273px;
  border-radius: 24px;
  background-image: url("../assets/image/unsplash_ftA71vetxuo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.container #form-page form h1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
}
.container #form-page form .input-box {
  display: flex;
  align-items: center;
}
.container #form-page form .input-box input {
  width: 630px;
  position: relative;
  padding: 17px 150px 19px 16px;
  border-radius: 42px;
  background: #fff;
}
.container #form-page form .input-box input placeholder {
  color: var(--light, #7e7d7a);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
}
.container #form-page form .input-box button {
  position: absolute;
  right: 485px;
  display: inline-flex;
  height: 44px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 33px;
  background: var(--Secondary, #2f2105);
  box-shadow: 0px 4px 32px 0px rgba(223, 195, 124, 0.25);
}
.container #form-page form .input-box button a {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}/*# sourceMappingURL=index.css.map */